<!DOCTYPE html>
<html>
  <head>
   <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
   <link href="{{ url_for('static', filename='css/bootstrap-social.css') }}" rel="stylesheet" />  
   <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  </head>
 <body style="background-color:white;">
  
  
  
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar" aria-expanded="false"
      aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('.home') }}">Home</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	  <li><a href="{{ url_for('dachau') }}">Dachau</a></li>
        <li><a href="{{ url_for('main') }}">Posts</a></li>
        <li><a href="{{ url_for('post') }}">Your Story</a></li>
        <li><a href="{{ url_for('interview') }}">Interview</a></li>
       </ul>
       </div>
    </div>
  </nav>
  
 
	  
	  
	  
		
    </div>
	
	 <style>
  .business-header {
	height: 300px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-attachment: scroll;
	background-image: url(http://localhost:5000/static/war5.png);
	background-color: #101010;
	background-repeat: no-repeat;
	background-position: center center;
}
</style>

   <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Remember IT</h1>
                </div>
            </div>
        </div>
    </header>

	
	
  </div>
  
  
   <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  
  
  <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>Welcome Posts Page</h2>
                <p>Welcome on posts page place where you can read other people histories and their felings about World War 2.</p>
            </div>
        </div>
        <!-- /.row -->

        
        <hr>
  
 
  <div class="jumbotron">
  <div align="center">

    <h1>Stories Of Other Users<h1>
 
</div>
<body>
  <div class="jumbotron">
  <div class="container">

{% for post in posts %}
<form method="post" action="{{ url_for('comment_store') }}">
<div align="center">
<b><p>{{post.author}}</p></b>
<p><{{post.post}}</p><b>
</div>
{{post.day}} 
{{post.time}}
{% endfor %}
</div>
 </body>

</div>


<hr>

  
		</br></br></br></br></br>
        <hr>
  
   <!-- Footer -->
        <footer>
            <nav class="navbar navbar-inverse navbar-fixed-bottom navbar-color-black">
                <div class="col-lg-12">
                    <p>Copyright &copy; MZBEAUTY2016</p><a href="#">Back to top</a>
					<a class="btn btn-social-icon btn-twitter">
				<span class="fa fa-twitter"></span></a>
				<a class="btn btn-social-icon btn-facebook">
				<span class="fa fa-facebook"</span></a> 
			
            </div>
            <!-- /.row -->
        </footer>
  
  
   
 <script text="javascript">
 </script>   
  </body>
</html>






















